spring:
  jpa:
    hibernate:
      ddl-auto: none
  datasource:
    url: jdbc:mysql://localhost:3306/tiggle
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
      schema-locations: classpath*:db/schema.sql
      data-locations: classpath*:db/data.sql
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ####
            client-secret: ####
            authorization-grant-type: authorization_code
            scope:
              - profile
              - email