spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  cloud:
    gateway:
      routes:
        - id: openapi
          uri: http://localhost:${server.port}
          predicates:
            - Path=/v3/api-docs/**
          filters:
            - RewritePath=/v3/api-docs/(?<path>.*), /$\{path}/v3/api-docs
        - id: tiggle-core
          uri: ${TIGGLE_CORE_URI}
          predicates:
            - Path=/api/**, /tiggle-core/**
          filters:
            - AuthenticationFilter
            - RewritePath=/tiggle-core/(?<path>.*), /$\{path}
        - id: tiggle-core-auth
          uri: ${TIGGLE_CORE_URI}
          predicates:
            - Path=/login/**, /oauth2/**
        - id: tiggle-notification
          uri: ${TIGGLE_NOTI_URI}
          predicates:
            - Path=/noti/**
          filters:
            - RewritePath=/noti/(?<path>.*), /$\{path}
server:
  port: 8081
springdoc:
  swagger-ui:
    urls:
      - name: tiggle-core
        url: /tiggle-core/v3/api-docs
        display-name: Tiggle
logging:
  level:
    com.side.tiggle: debug
    org.springframework.security: debug
    org.springframework.security.web: debug