spring:
  datasource:
    url: jdbc:mysql://localhost:3307/tiggle
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ####
    password: ####
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ####
            client-secret: ####
            authorization-grant-type: authorization_code
            scope:
              - profile
              - email
  cloud:
    gateway:
      routes:
        - id: openapi
          uri: http://localhost:${server.port}
          predicates:
            - Path=/v3/api-docs/**
          filters:
            - RewritePath=/v3/api-docs/(?<path>.*), /$\{path}/v3/api-docs
        - id: tiggle-core
          uri: http://localhost:8080
          predicates:
            - Path=/api/**, /tiggle-core/**
          filters:
            - AuthenticationFilter
            - RewritePath=/tiggle-core/(?<path>.*), /$\{path}

server:
  port: 8081
springdoc:
  swagger-ui:
    urls:
      - name: tiggle-core
        url: /tiggle-core/v3/api-docs
        display-name: Tiggle
