spring:
  jpa:
    hibernate:
      ddl-auto: none
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
      schema-locations: classpath*:db/schema.sql
      data-locations: classpath*:db/data.sql
  servlet:
    multipart:
      enabled: true
      location: upload/image/
      max-request-size: 20MB
      max-file-size: 10MB
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ###
            client-secret: ###
            authorization-grant-type: authorization_code
            scope:
              - profile
              - email
part:
  upload:
    path: upload/image/

app:
  gateway-path: http://localhost:8081
  client-redirect-uri: http://localhost:3000/login/success