.header-wrap {
    display: flex;
    justify-content: center
}

.logo-wrap {
    display: flex;
    align-items: center;
    width: 50%;
    height: 60px;
}

.logo-wrap > ul {
    width: 70%;
    border-bottom: none;
}

.user-info {
    display: flex;
    align-items: center;
}

.bell {
    margin-right: 1rem;
}

.content-wrapper {
    width: 768px;
}