spring:
  jpa:
    hibernate:
      ddl-auto: none
  datasource:
    url: jdbc:mysql://localhost:3307/tiggle?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: tiggle1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  kafka:
    consumer:
      auto-offset-reset: earliest
      group-id: tiggle-notification
      bootstrap-servers: localhost:9092
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
server:
  port: 8082