<configuration>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework.test" level="INFO"/>
    <logger name="io.kotest" level="INFO"/>

    <logger name="com.zaxxer.hikari" level="ERROR"/>
    <logger name="org.springframework.boot.web.embedded.tomcat" level="ERROR"/>
    <logger name="org.springframework.security" level="ERROR"/>
    <logger name="org.springframework.web" level="ERROR"/>
    <logger name="org.springframework.data" level="ERROR"/>
    <logger name="org.springframework.orm.jpa" level="ERROR"/>
    <logger name="org.springframework.transaction" level="ERROR"/>

    <logger name="org.hibernate" level="OFF"/>
    <logger name="org.hibernate.SQL" level="OFF"/>
    <logger name="org.hibernate.type" level="OFF"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>